{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sentdesc/style.css' %}" />
<script type='text/javascript'>
$(document).ready(function(){
// Define as variaveis de acordo com a quantidade da página // opcional.
	
	$(document).on('click', '.botaoFechar', function(){
        $('#form-conteudo').css("visibility", "hidden");
    });

});
</script>
<div id="container">
	<div id="content">
		<div>
		<form action="{% url 'sentdesc:atualizar' sent_desc.id %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="sent_desc_id" value='{{ sent_desc.id }}' />
			<input type="hidden" name="filtro" value='{{ link_filtro }}' />
			<fieldset class="module aligned ">
				<div class="form-row">
					<div>
						<label class="required" for="origem">
						Origem:
						</label>
					</div>
					<div class="related-widget-wrapper">
					{{ sent_desc.origem }}
					</div>
				</div>
				<div class="form-row">
					<div>
						<label class="required" for="id_origem">
						ID Origem:
						</label>
					</div>
					<div class="related-widget-wrapper">
					{{ sent_desc.id_origem }}
					</div>
				</div>
				<div class="form-row">
					<div>
						<label class="required" for="sent_desc">
						Sentença Descritora:
						</label>
					</div>
					<div class="related-widget-wrapper">
					<textarea id="sent_desc" name="sent_desc" class="vLargeTextField" cols="40" rows="5" required>{{ sent_desc.sent_desc }}</textarea>
					</div>
				</div>	
				{% for atributo in atributos %}
					<div class="form-row">
					<div>
						<label class="required" for='atributo{{ atributo.id }}'>
						{{ atributo.atributo }}:
						</label>
					</div>
					<div class="related-widget-wrapper">
						{% if atributo.atributo.tipo == "TXT" %}
							<input type="text" id='atributo{{ atributo.id }}' name='atributo{{ atributo.id }}' value='{{ atributo.valor }}' required />
						{% elif atributo.atributo.tipo == "NBR" %}
							<input type="number" id='atributo{{ atributo.id }}' name='atributo{{ atributo.id }}' value='{{ atributo.valor }}' required />
						{% elif atributo.atributo.tipo == "DT" %}
							<input type="date" id='atributo{{ atributo.id }}' name='atributo{{ atributo.id }}' value='{{ atributo.valor }}' required />
						{% elif atributo.atributo.tipo == "LTXT" %}
							<textarea id='atributo{{ atributo.id }}' name='atributo{{ atributo.id }}' class="vLargeTextField" cols="40" rows="5" required>{{ atributo.valor }}</textarea>
						{% elif atributo.atributo.tipo == "TAB" %}
							<select id='atributo{{ atributo.id }}' name='atributo{{ atributo.id }}' required>
								<option value="">----------</option>
							{% for elemento in elementos_texto %}
								{% if elemento.elemento == atributo.valor %}
									<option value="{{ elemento.elemento }}" selected>{{ elemento.elemento }}</option>
								{% else %}
									<option value="{{ elemento.elemento }}">{{ elemento.elemento }}</option>
								{% endif %}
							{% endfor %}
							</select>
						{% endif %}
					</div>
					</div>
				{% endfor %}
			</fieldset>
			<div class="submit-row">
				<input type="submit" value="Atualizar" /> || 
				<button type="button" class="botaoFechar">Cancelar</button>
			</div>			
		</form>
		</div>
	</div>
</div>