{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sentdesc/style.css' %}" />
<script src="{% static 'sentdesc/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script type='text/javascript'>
$(document).ready(function(){
// Define as variaveis de acordo com a quantidade da página // opcional.
	
	$(document).on('click', '.botaoEditar', function(){
        var detalhe = $(this).data('editar');
        $('#form-detalhe').load(detalhe);
		$('#form-conteudo').css("visibility", "visible");
    });

});
</script>

<div id="container">
	<div id="header">
		<div id="branding">
		<h1><a href="{% url 'sentdesc:index' %}">Filtro de Sentenças Descritoras</a></h1>
		</div>
		<div id="user-tools"
		{% if request.user.is_authenticated %}
		<p> você está logado como {{ request.user.username }} | <a href="{% url 'logout' %}">Sair </a></p>
		{% else %}
		<p><a href="{% url 'login' %}">Acessar o sistema</a></p>
		{% endif %}
		</div>
	</div>
	<div id="content">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="#" method="get">
		<select name="fonte_filtro">
		 <option value="origem">Origem da sentença</option>
		 <option value="sentenca_descritora">Sentença Descritora</option>
		 <option value="1">Elemento do Texto</option>
		 <option value="2">Objetivo de Aprendizagem</option>
		 <option value="3">Tipo de Gênero</option>
		</select>
		<input type="text" name="texto_filtro" />
		<input type="submit" value="filtrar" />
		</form>

		{% if ordered_sentdesc_list %}
			<table border="1">
				<tr>
					<th>#</th>
					<th>Origem</th>
					<th>Sentença Descritora</th>
			{% for atributo in total_atributos %}
				<th>{{ atributo.atributo }}</th>
			{% endfor %}
				<th>&nbsp;</th>
				</tr>
			{% for habilidade in total_habilidades %}
				<tr>
					<td>{{ habilidade.id }}</td>
					<td>{{ habilidade.origem }}</td>
					<td>{{ habilidade.sent_desc }}</td>
				{% for sentdesc in ordered_sentdesc_list %}
					{% if habilidade.id == sentdesc.habilidades.id %}
						<td>{{ sentdesc.valor }}</td>			
					{% endif %}
				{% endfor %}
					<td>
					<button type="button" data-editar="{% url 'sentdesc:detalhe' habilidade.id %}" class="botaoEditar">Editar</button>
					</td>
				</tr>
			{% endfor %}
			</table>
			{% if total_habilidades.has_other_pages %}
				<ul class="pagination">
					<li> Páginas: </li>
				{% if total_habilidades.has_previous %}
					<li><a href="?page={{ total_habilidades.previous_page_number }}&{{ link_filtro }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in total_habilidades.paginator.page_range %}
					{% if total_habilidades.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(atual)</span></span></li>
					{% else %}
						<li><a href="?page={{ i }}&{{ link_filtro }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if total_habilidades.has_next %}
					<li><a href="?page={{ total_habilidades.next_page_number }}&{{ link_filtro }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
			{% endif %}
		{% else %}
			<p>Nenhuma Sentença Descritora equivale ao filtro selecionado.</p>
		{% endif %}
	</div>
	<div id="form-conteudo">
		<div id="form-detalhe">
		content
		</div>
	</div>
</div>