{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sentdesc/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sentdesc/jquery.dataTables.min.css' %}" />

<div id="container">
	<div id="header">
		<div id="branding">
		<h1><a href="{% url 'sentdesc:index' %}">Filtro de Sentenças Descritoras</a></h1>
		</div>
		<div id="user-tools"
		{% if request.user.is_authenticated %}
		<p> você está logado como {{ request.user.username }} | <a href="{% url 'logout' %}">Sair </a></p>
		{% else %}
		<p><a href="{% url 'login' %}">Acessar o sistema</a></p>
		{% endif %}
		</div>
	</div>
	<div id="content">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
		{% if data %}
			<table id="example" class="display" cellspacing="0" width="100%" border="1">
				<thead>
					<tr>
						<th>#</th>
						<th>Origem</th>
						<th>Sentença Descritora</th>
						{{ head|safe }}
						<th>Editar</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>#</th>
						<th>Origem</th>
						<th>Sentença Descritora</th>
						{{ head|safe }}
						<th>Editar</th>
					</tr>
				</tfoot>
				<tbody>
						{{ data|safe }}
				</tbody>
			</table>
		{% else %}
			<p>Nenhuma Sentença Descritora equivale ao filtro selecionado.</p>
		{% endif %}
	</div>
	<div id="form-conteudo">
		<div id="form-detalhe">
		content
		</div>
	</div>
</div>

<script src="{% static 'sentdesc/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'sentdesc/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script type='text/javascript'>
$(document).ready(function(){
// Define as variaveis de acordo com a quantidade da página // opcional.
	// Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
		if (title != 'Editar' && title != '#') {
			$(this).html( '<input type="text" placeholder="Pesquisar..." />' );
		}else{
			$(this).html( ' ' );
		}
    } );
	
	//$('#example').DataTable();
	// DataTable
    var table = $('#example').DataTable({
		"language": {
            "lengthMenu": "Mostrando _MENU_ registros por página",
            "zeroRecords": "Nenhum registro encontrado",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum registro disponível",
            "infoFiltered": "(filtrado de _MAX_ registros totais)",
			"paginate": {
				"first":      "Primeira",
				"last":       "Última",
				"next":       "Próxima",
				"previous":   "Anterior"
			},
			"search":         "Pesquisar:"
        },
		"pagingType": "full_numbers",
		"pageLength": 100,
		"lengthMenu": [ [100, 200, 500, -1], [100, 200, 500, "Todos"] ]
	});
	
	// Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
	
	$(document).on('click', '.botaoEditar', function(){
        var detalhe = $(this).data('editar');
        $('#form-detalhe').load(detalhe);
		$('#form-conteudo').css("visibility", "visible");
    });

	$('#example tfoot tr').appendTo('#example thead');

});
</script>
